<div class="ui secondary pointing menu">
    <a class="active item" href="{{route('index')}}">
      Home
    </a>
    <a class="item" href="{{route('profile')}}">
      Profile
    </a>
    <div class="right menu">
      <a class="ui item" href="{{route('employee.logout')}}">
        Logout
      </a>
    </div>
</div>
  
